@CHARSET "ISO-8859-1";

body {
	background-color: #3498db;
}

#sentence {
	font-family: 'Montserrat', Arial, sans-serif;
	color: white;
	text-align: center;
	font-size: 1em;
}

#verb {
	font-family: 'Montserrat', Arial, sans-serif;
	text-align: center;
	font-size: 8em;
	color: white;
  	vertical-align: middle;
}

#incorrect{
	align: left;
}

#correct{
	align: right;
}